doctype html
html
  head
    title= title
    link(href='/css/main.css',rel='stylesheet')
  body
  h1= title

  if username
    h2 Hello #{username}.
    form(name='logout',method='POST', action='/logout')
      div
        input(type='submit',value='Logout')
        
  else
    div
      a(href='/signup') Sign up
    div
      a(href='/login') Login


  div(ng-app='Hello' ng-controller='NameController')

      div
          label(for='yourNmae') Your name is
          input(name='yourName',type='text',ng-model='yourName')

      div
          | {{ yourName | sayhello }}


  script(type='text/javascript',src='libs/angular/angular.min.js')
  script(type='text/javascript',src='app.js')
