doctype html
html
    head
        title= titile
        link(href='css/main.css',rel='stylesheet')

    body
        form(name='signup',method='POST',action='/signup')
            div
                label(for='username') Username
                input(name='username',type='text',placeholder='username')

            div
                label(for='firstname') Firstname
                input(name='firstname',type='text',placeholder='Firstname')

            div
                label(for='lastname') Lastname
                input(name='lastname',type='text',placeholder='Lastname')

            div
                label(for='email') Email
                input(name='email',type='email',placeholder='Email')

            div
                label(for='password') Password
                input(name='password',type='password',placeholder='Password')

            div
                input(type='submit',value='Sing up')

